<a href="https://colab.research.google.com/github/ShreyaaChauhan/code/blob/master/Assignment6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1** Some values in the the FlightNumber column are missing. These numbers are
meant to increase by 10 with each row so 10055 and 10075 need to be put in
place. Fill in these missing numbers and make the column an integer column
(instead of a float column).

**Sol**

In [41]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
                  'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                  'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                  'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']})
new_index = np.arange(1,df.From_To.count()+1)
df.set_index(new_index, inplace=True)
for i in np.arange(1,df.From_To.count()+1):
  if(pd.isnull(df.FlightNumber.loc[i,])):
    df.loc[i,'FlightNumber'] = df.FlightNumber.loc[i-1]+10

print(df['FlightNumber'].astype(int))

1    10045
2    10055
3    10065
4    10075
5    10085
Name: FlightNumber, dtype: int64

**2** The From_To column would be better as two separate columns! Split each
string on the underscore delimiter _ to give a new temporary DataFrame with
the correct values. Assign the correct column names to this temporary
DataFrame.

**Sol**

In [42]:
temporary_dataframe = df.copy()
#print(temporary_dataframe)
temporary_dataframe[['From','To']] = df.From_To.str.split("_", expand=True)
print(temporary_dataframe)

            From_To  FlightNumber  ...      From         To
1      LoNDon_paris       10045.0  ...    LoNDon      paris
2      MAdrid_miLAN       10055.0  ...    MAdrid      miLAN
3  londON_StockhOlm       10065.0  ...    londON  StockhOlm
4    Budapest_PaRis       10075.0  ...  Budapest      PaRis
5   Brussels_londOn       10085.0  ...  Brussels     londOn

[5 rows x 6 columns]

**3.** Notice how the capitalisation of the city names is all mixed up in this
temporary DataFrame. Standardise the strings so that only the first letter is
uppercase (e.g. "londON" should become "London".)

**Sol**

In [43]:
temporary_dataframe.From = temporary_dataframe.From.str.capitalize()
temporary_dataframe.To = temporary_dataframe.To.str.capitalize()
print(temporary_dataframe)

            From_To  FlightNumber  ...      From         To
1      LoNDon_paris       10045.0  ...    London      Paris
2      MAdrid_miLAN       10055.0  ...    Madrid      Milan
3  londON_StockhOlm       10065.0  ...    London  Stockholm
4    Budapest_PaRis       10075.0  ...  Budapest      Paris
5   Brussels_londOn       10085.0  ...  Brussels     London

[5 rows x 6 columns]

**4.** Delete the From_To column from df and attach the temporary DataFrame
from the previous questions.

**Sol**

In [45]:
df.drop('From_To',axis=1,inplace = True)
df['From_To'] = temporary_dataframe['From_To']
print(df)

   FlightNumber  RecentDelays              Airline           From_To
1       10045.0      [23, 47]               KLM(!)      LoNDon_paris
2       10055.0            []    <Air France> (12)      MAdrid_miLAN
3       10065.0  [24, 43, 87]  (British Airways. )  londON_StockhOlm
4       10075.0          [13]       12. Air France    Budapest_PaRis
5       10085.0      [67, 32]          "Swiss Air"   Brussels_londOn

In [47]:
#df.drop('From_To',axis=1,inplace = True)
#df[['From_To','From','To']] = temporary_dataframe[['From_To','From','To']]
#print(df[['From_To','From','To']])

            From_To      From         To
1      LoNDon_paris    London      Paris
2      MAdrid_miLAN    Madrid      Milan
3  londON_StockhOlm    London  Stockholm
4    Budapest_PaRis  Budapest      Paris
5   Brussels_londOn  Brussels     London

**5.** In the RecentDelays column, the values have been entered into the
DataFrame as a list. We would like each first value in its own column, each

second value in its own column, and so on. If there isn't an Nth value, the value
should be NaN.
Expand the Series of lists into a DataFrame named delays, rename the columns
delay_1, delay_2, etc. and replace the unwanted RecentDelays column in df
with delays.

**Sol**

In [100]:
df_new = pd.DataFrame(df['RecentDelays'].values.tolist())
print(df_new)

      0     1     2
0  23.0  47.0   NaN
1   NaN   NaN   NaN
2  24.0  43.0  87.0
3  13.0   NaN   NaN
4  67.0  32.0   NaN

In [105]:
df_new.columns = ['delay_1', 'delay_2','delay_3']
df_new.index = [1,2,3,4,5]
print(df_new)

   delay_1  delay_2  delay_3
1     23.0     47.0      NaN
2      NaN      NaN      NaN
3     24.0     43.0     87.0
4     13.0      NaN      NaN
5     67.0     32.0      NaN

In [106]:
df[['delay_1','delay_2','delay_3']] = df_new[['delay_1','delay_2','delay_3']]
print(df)

   FlightNumber  RecentDelays              Airline  ... delay_1 delay_2 delay_3
1       10045.0      [23, 47]               KLM(!)  ...    23.0    47.0     NaN
2       10055.0            []    <Air France> (12)  ...     NaN     NaN     NaN
3       10065.0  [24, 43, 87]  (British Airways. )  ...    24.0    43.0    87.0
4       10075.0          [13]       12. Air France  ...    13.0     NaN     NaN
5       10085.0      [67, 32]          "Swiss Air"  ...    67.0    32.0     NaN

[5 rows x 9 columns]