<a href="https://colab.research.google.com/github/ShreyaaChauhan/code/blob/master/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.1** Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

**Sol**

**For Integers**

In [20]:
def myreduce(l):
  sum = 0
  for i in l:
    sum = sum + i
  return sum  

l = input("enter a list of number seperated by comma")
list = l.split(",")

new_list = []
for i in list:
  new_list.append(int(i))

print("result of myreduce function is {}".format(myreduce(new_list)))

enter a list of number seperated by comma1,2,3
result of myreduce function is 6

**For Strings**

In [23]:
def myreduce(l):
  sum = ""
  for i in l:
    sum = sum + i
  return sum

l= input(print("Enter list of strings seperated by comma"))
list = l.split(",")

print("result of myreduce function is {}".format(myreduce(list)))

Enter list of strings seperated by comma
dfhh,fhgfh,hdhhf
result of myreduce function is dfhhfhgfhhdhhf

**1.2** Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

**Sol**

In [25]:
#filtering out the multiples of 5 from a list
def myfilter(l):
  final = []
  for i in l:
    if (i%5==0):
      final.append(i)
  return final
  
l = input(print("Enter the list of numbers seperated by comma"))
list = l.split(",")
new_list= []
for i in list:
  new_list.append(int(i))

print("result after myfilter is {}".format(myfilter(new_list)))

Enter the list of numbers seperated by comma
25,7,56,30,89,100
result after myfilter is [25, 30, 100]

**2.** Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [33]:
l = ['x','y','z']
list = [items*i for items in l for i in range(1,5)]
print(list)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [36]:
l = ['x','y','z']
list = [items*i for i in range(1,5) for items in l]
print(list)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]

In [49]:
#[[2],[3],[4],[3],[4],[5][6]]
l = [1,2,3]
list = [[item+i] for item in l for i in range(1,4)]
list1 = [[item+i for item in l] for  i in range(1,6)]
print(list,list1)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4], [3, 4, 5], [4, 5, 6], [5, 6, 7], [6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [51]:
l = [1,2,3]
list = [(a,b) for b in l for a in l ]
print(list)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]